* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Times new Roman";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Times new Roman";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
}

.game {
  margin-top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.game-board {
  border: 1px solid black;
}

.board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.square__green {
  background-color: green;
}

.game-info {
  margin-left: 40px;
}

.game-info button {
  width: 120px;
  height: 20px;
  margin: 3px 0 0;
  background-color: #e0e0e0;
  border: 1px solid #858585;
  border-radius: 5px;
}

.status {
  margin: 0 0 5px;
  font-weight: bold;
}
