@import './variables.scss';
@import './reset.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__row {
    display: flex;
  }

  &__info {
    margin-left: 40px;

    button {
      width: 150px;
      height: 20px;
      margin: 3px 0 0;
      background-color: white;
      border: 1px solid black;
      font-size: 16px;
    }
  }

  &__status {
    font-size: 17px;
    margin: 0 0 5px;
    font-weight: bold;
  }
}
